.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App__logo {
  height: 40vmin;
  pointer-events: none;
}

.App__try-now-button {
  -webkit-appearance: none;
  border: 2px solid #0d82ff;
  color: #0d82ff;
  border-radius: 20px;
  display: inline-block;
  font-size: 2em;
  font-weight: 600;
  line-height: 1;
  margin: 0;
  padding: 20px
}

.App__try-now-button:hover {
  background-color: #0d82ff10;
  cursor: pointer
}

.App__try-now-button:disabled {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.1);
  cursor: default;
}

.App__error-message {
  width: 60vw;
  text-align: justify;
  line-height: 1.5em;
}